{
  "bot": {
    "token": "NDkxNDQ4MDY0NDg2MTQ2MDUw.DoNbAQ.gzSExmayqQ6JL07R3EVnRdnnj4U",
    "prefix": "!",
    "debug": false
  },
  "parkingd": {
    "port": 47774,
    "user": "parkingcoinrpc",
    "pass": "ChngMQYfUkDPnusjpKXWnGjgwzqrzjUbW5WwEgxdb5PC"
  },
  "sandboxchannel": "481827740589228033"
}
